*{ 
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color:rgb(117, 113, 113);
    color: rgb(228, 223, 223);
    text-align: center;
}
img {
    width: 300px;
    height: 200 px;
    margin: right 100%;
}
h1 {
color:rgb(0, 0, 0);
}

.text-content {
text-align:center;
color:rgb(12, 12, 24);
font-family: 'Times New Roman', Times, serif;
}
